<h1>Behold the best of the best</h1>
<h3><%= link_to "List a new restaurant", new_restaurant_path %></h3>

<ul>
  <% @restaurants.each do |restaurant|%>
  <li>
    <h2><%= link_to restaurant.name, restaurant%></h2>
    <p><%= restaurant.address%></p>
    <p><%= restaurant.category%></p>
    <h3><%= link_to "See details", restaurant_path(restaurant), class: "btn btn-success"%> |
    <%= link_to "Edit", edit_restaurant_path(restaurant), class: "btn btn-primary" %> | <%= link_to "Delete",
            restaurant_path(restaurant), class: "btn btn-danger",
            method: :delete,
            data: { confirm: "Are you sure?" } %></h3>
  </li>
  <% end%>
  
</ul>
